<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <title>Interactive Information Poster</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js"></script>
</head>
<body>
    <h1 class="hidden">Formula 1 Driver Standings</h1>
    
    <div class="titleCon">
        <object data="images/title.svg" type="image/svg+xml" class="title"></object>
    </div>

        <div class="row">

            <div id="driver1" class="driver">
                <div class="carCon">
                    <h2 class="number">1</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver2" class="driver">
                <div class="carCon">
                    <h2 class="number">2</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver3" class="driver">
                <div class="carCon">
                    <h2 class="number">3</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver4" class="driver">
                <div class="carCon">
                    <h2 class="number">4</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver5" class="driver">
                <div class="carCon">
                    <h2 class="number">5</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver6" class="driver">
                <div class="carCon">
                    <h2 class="number">6</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver7" class="driver">
                <div class="carCon">
                    <h2 class="number">7</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver8" class="driver">
                <div class="carCon">
                    <h2 class="number">8</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver9" class="driver">
                <div class="carCon">
                    <h2 class="number">9</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver10" class="driver">
                <div class="carCon">
                    <h2 class="number">10</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver11" class="driver">
                <div class="carCon">
                    <h2 class="number">11</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver12" class="driver">
                <div class="carCon">
                    <h2 class="number">12</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>


        <div class="row">

            <div id="driver13" class="driver">
                <div class="carCon">
                    <h2 class="number">13</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver14" class="driver">
                <div class="carCon">
                    <h2 class="number">14</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver15" class="driver">
                <div class="carCon">
                    <h2 class="number">15</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver16" class="driver">
                <div class="carCon">
                    <h2 class="number">16</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row">

            <div id="driver17" class="driver">
                <div class="carCon">
                    <h2 class="number">17</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver18" class="driver">
                <div class="carCon">
                    <h2 class="number">18</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

        <div class="row last">

            <div id="driver19" class="driver">
                <div class="carCon">
                    <h2 class="number">19</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

            <div id="driver20" class="driver">
                <div class="carCon">
                    <h2 class="number">20</h2>
                    <object data="images/grid.svg" type="image/svg+xml" class="grid"></object>
                    <div class="imageContainer">

                    </div>
                    
                </div>
                <div class="driverInfo">

                </div>
            </div>

        </div>

       

    <script src="js/main.js"></script>
</body>
</html>


