.row{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 50px;
}


.driver{

    max-width: 450px;
    height: 400px;
    //margin-bottom: 80px;
    display: flex;
    margin: 0 auto;

    &:nth-child(even){
        margin-top: 100px;
    }

    .carCon, .driverInfo{
        width: 220px;
    }

    .carCon{

        .number{
            font-family: $main-font;
            color: #efe34c;
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
        }
    
        .grid{
            width: 200px;
            display: block;
            margin: 0 auto;
        }
        
        .imageContainer{
            max-height: 300px;
            width: 200px;
            margin: 0 auto;

            .car{
                max-height: 300px;
                width: 200px;
                margin: 0 auto;
            }
        }
    
        

    }

    .driverInfo{
        margin-top: 60px;
        margin-left: 20px;

        .driverName{
            background-color: #ba2025;
            height: 45px;
            color: #ffffff;
            font-size: 33px;
            text-align: center;
            font-family: $main-font;
            font-style: oblique;
            width: 200px;
            padding-top: 10px;
            border-radius: 2px;
            letter-spacing: 1.3px;
            margin-bottom: 30px;
        }

        .info{
            margin-bottom: 30px;
            color: #b3b2b2;
            font-family: $main-font;
            font-size: 25px;
            letter-spacing: 1px;

            .data{
                color: #ffffff;
                margin-left: 10px;
            }
        }
    }
    
}


@media screen and (min-width: 1000px){
	.row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .driver:nth-child(even){
            margin-top: 150px;
        }
    }
}